body { background-image:url("369.jpg");}
h1{text-align: center;
  border-style:  inset; 
  background-color:#ff9900;
color: #000080;}
img {display: block;
  margin-left: auto;
  margin-right: auto;
} 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5382df;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff8533;
}
p {align-content: center;
}